<!DOCTYPE html>

<html>

<head>
    <title>EatExact</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style_register.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='set_defaults.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='style_manager_dashboard.css') }}" />

</head>

<body>

    <div class="navbar">
        <div class="logo">
            <a href="#"><img height='150px' src="{{ url_for('static',filename='assets/Logo_EE.png') }}"></a>
            <header>Eat Exact</header>
        </div>

        <div class="nav-btn">
            <button><a href="{{ url_for('login') }}">Logout </a></button>
            <!-- <button><a href="{{ url_for('register') }}">Sign Up </a></button> -->
            <!-- <button><a href="#">About Us </a></button> -->

        </div>
    </div>
    <div class="container">
        <div class="Left-side-panel">

            <!-- <div class="approval-button">
                <form action="#" method="post">
                    <input id='generate' type="submit" value="Generate Request">
                    <input id='delete' type="submit" value="Delete Form">
                </form>
            </div> -->
            <div class="user-request">
                <heading>
                    Requests </heading>
                <requests>
                    <form method="post" action="#">
                        <table>
                            <tr>
                                <th>Name </th>
                                <th>Room Number</th>
                                <th>Accept</th>
                                <th>Reject </th>
                            </tr>
                        {% for request in logins %}
                        {% if request.accepted == False %}
                        <tr>
                        <td>{{ request.name }}</td>
                        <td>{{ request.room_number }}</td>
                        <td><input type="radio" id="{{ request.customer_id }}" name="{{ request.customer_id }}"
                            value="accept">
                        </td>
                        <td><input type="radio" id="{{ request.customer_id }}" name="{{ request.customer_id }}"
                            value="reject">
                        </td>
                        
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </table>
                        <input type="submit" value="Apply">
                    </form>
                </requests>

            </div>
            <div class="user-accepted">
                <heading>
                    Customers </heading>

                <table>
                    <tr>
                        <th>Name </th>
                        <th>Room Number</th>
                    </tr>
                {% for request in logins %}
                {% if request.accepted == True %}
                    <tr>
                    <td>{{ request.name }}</td>
                    <td>{{ request.room_number }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="Right-side-panel">
            <!-- Order summary -->
            <h1><heading>
            Order Summary:</h1></heading>
            <table>
                <tr>
                    <th>Item Name </th>
                    <th>Item Quantity</th>
                </tr>
            {% for key,val in freq.items() %}
                <tr>
                    <td>{{ names[key] }} </td>
                    <td>{{ val }}</td>
                </tr>
            {% endfor %}
            </table>
            <!-- Order Details -->
            <h1><heading>
            Order Details:</h1></heading>
            <table>
                <tr>
                    <th>Customer Name </th>
                    <th>Room Number</th>
                    <th>Order</th>
                </tr>
            {% for order in orders %}
            <tr>
            <td>{{ reqs[order.customer_id].name }} </td>
            <td>{{ reqs[order.customer_id].room }}</td>
            <td>{{ reqs[order.customer_id].string }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>