@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

*{
    /* text-decoration: none; */
    margin: 0px;
    padding: 0px;

}
html{
    background-color: white;
}
:root{
    --primaryColor : #e69a8a;
    --primaryFade : #fdccc3a1;
    --black : #242424;
    --white : #f1f1f1;
    --downShadow : 0px 5px 100px rgba(119, 119, 119, 0.355);
    --secondaryFont : 'Alef',sans-serif;
    --primaryFont : 'Prompt',sans-serif;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
}