
body{
    width: auto;
    height: auto;   
    /* background-image: radial-gradient(rgb(41, 41, 42),rgb(53, 51, 54),rgb(43, 43, 43)); */
    background: #262425;
}
.container{
    display: flex;
    flex-direction: column;
   
}

section{
    box-shadow: var(--downShadow);
}
/*Setting Up The NavBar Of Landing Page*/
.navbar{
    z-index: 2;
    margin: 0 2em;
    /* background-color: orange; */
    position: sticky;
    top: 0px;
    height: 6em;
    display: flex;
    justify-content: space-between;
    
    top: 0.25vw;
    
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: var(--downShadow);
    /* background-color: #4f382da2; */
    background: var(--primaryColor);
    border-radius: 10px;
    padding: 0% 1vw;
}

.logo{
    height: inherit;
    display: flex;
    align-items:center;
    /* margin: 0px 1em; */
}
.logo a{
    text-decoration: none;
    
}
.logo img{
    height: 5vw;
    min-height:5em;

}
.navbar header{
    
    /* color: var(--primaryColor); */
    color: white;
    font-size:40pt;
    font-family : 'prompt', sans-serif;
    font-weight: 600;

}

.nav-btn{
    /* margin: 0px 1em; */
    display: flex;
    gap: 0.25vw;

}
.nav-btn button{
    
    width: 7vw;
    height: 4em;
    border-radius: 5px;
    /* border: 1px solid white; */
    border: 1px solid var(--primaryColor);
    transition: border 0.25s cubic-bezier(.66,.39,.21,.67);
}

.nav-btn button:hover{
    border: 1px solid white;
}
.nav-btn button:active{
    background-color:  var(--primaryFade);
    
}
.nav-btn a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: max(1.25vw,12pt);
    font-weight: bold;
}





/* NavBar Completes Here :)
*/
.poster{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.poster img{
    width: 40%;
    min-width: 20em;
    height: 35vw;
    min-height: 20em;
    opacity: 0.8;
}
.poster .text{
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
.poster p{
    width: 70%;
    margin: 1.5em;
    text-align: center;
    text-justify: distribute;
    color: var(--white);
}
.poster tagline{
    font-family: var(--primaryFont);
   
    font-size: calc(4vw - 0.1vmax);
    font-weight: 800;
    line-height: -10px; 
    text-align: center;
    color: var(--primaryColor);
}

.poster button{
    width: 20em;
    height: 2.5em;
    border-radius: 5px;
    transition: border 0.25s cubic-bezier(.66,.39,.21,.67);
    text-decoration: none;

    background-color: var(--primaryColor);
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 15pt;
    font-weight: bold;

    cursor: pointer;
}

.poster button:hover{
    border: 1px solid var(--primaryColor);
}
.poster button:active{
    background-color:  var(--primaryFade);
    
}



.login-forms{
    display: flex;
    flex-direction: row;
    height: calc(auto + 10em);
    justify-content: center;
    padding: 1.5em;
    gap: 0em;
    padding: 2em;
}
.login-forms #customer_login{
    overflow: hidden;

    background-color: #efb6ab;
    width:40%;
    height: 45vw;
}
.login-forms #manager_login{
    overflow: hidden;
    background-color: #8aa7d8;
    width:40%;
    height: 45vw;
}
#customer_login formarea{
    
    margin-top: 4em;
    /* margin-bottom: 10vw; */
    display: none;
    gap: 0.25em;
    flex-direction: column;
    /* bottom:max(80vw, 70%); */
    align-items: center;
    justify-content: center;
}
#manager_login formarea{
    
    margin-top: 4em;
    /* margin-bottom: 10vw; */
    display: none;
    gap: 0.25em;
    flex-direction: column;
    /* bottom:max(80vw, 70%); */
    align-items: center;
    justify-content: center;
}





.login-forms form input{
        
    width: 25vw;
    height: 2em;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 0.896);
    padding: 2px;
    font-family: var(--secondaryFont);
    font-size: 12pt;
    font-weight: 500;
}

.login-forms img{
    /* opacity: 0; */
    /* position: absolute; */
    cursor:pointer;
    right: auto;
    left: auto; 
    height :40vw;
    width: 36vw;
    min-height: 20em;
    min-width: 20em;
}

.login-forms img:hover{
    transform: scale(1.01);
}
.login-forms label{
    margin-top: 0.2em;
    font-size: 1.5em;
    font-family: var(--primaryFont);
    color: var(--white);
}
.login-forms heading{
    text-align: center;
    font-family: var(--primaryFont);
    color: var(--white);
    font-weight: 600;
    font-size: max(3vw,2em);
}

#customer_login input[type = "submit"]{
margin-top: 2.5em;
}
#manager_login input[type = "submit"]{
margin-top: 7.9em;
}
.login-forms input[type = "submit"]{
    background-color: var(--approve);
    cursor: pointer;    
}


.AboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;

}
.AboutUs heading{
    font-family: var(--primaryFont);
    color: var(--white);
    font-weight: 600;
    font-size: max(3vw,2em);
}
.AboutUs img{
height: max(40vw,30em);
width: max(60vw, 40em);
position: relative;
}
.AboutUs p{
    width: 70%;
    margin: 1.5em;
    text-align: center;
    text-justify: distribute;
    color: var(--white);
}
.footer{
    background-color: var(--black);

}
.footer h1{
    font-size: 10vw;
    font-family: var(--primaryFont);
    color: var(--primaryColor);
    text-align: center;
    font-weight: 600;
    font-size: max(3vw,2em);
}