
body{
    background-image: linear-gradient(rgb(40, 36, 49),rgb(42, 38, 45));
}
.container{
    display: flex;
    flex-direction: column;
   
}


/*Setting Up The NavBar Of Landing Page*/
.navbar{
    z-index: 2;
    /* background-color: orange; */
    /* position: sticky; */
    height: 7.5em;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: var(--downShadow);


}

.logo{
    height:inherit;
    display: flex;
    align-items:center;
    margin: 0px 1em;
}
.logo a{
    text-decoration: none;
}
.logo img{
    height: 7.5vw;
    min-height:6em;

}
.logo header{
    position: relative;
    left: -.8em;
    /* top: -0.2em; */
    color: var(--primaryColor);
    font-size:30pt;
    font-family : 'prompt', sans-serif;
    font-weight: 600;
}

.nav-btn{
    margin: 0px 1em;
    display: flex;
    gap: 0.25vw;

}
.nav-btn button{
    width: 7.5em;
    height: 3em;
    border-radius: 5px;
    border: 1px solid white;
    transition: border 0.25s cubic-bezier(.66,.39,.21,.67);
}

.nav-btn button:hover{
    border: 1px solid var(--primaryColor);
}
.nav-btn button:active{
    background-color:  var(--primaryFade);
    
}
.nav-btn a{
    text-decoration: none;
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 14pt;
    font-weight: bold;
}





/* NavBar Completes Here :)
*/
.poster{
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--downShadow);
    

}

.poster img{
    width: 40%;
    min-width: 20em;
    height: 35vw;
    min-height: 20em;
    opacity: 0.8;
}
.poster .text{
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
.poster p{
    width: 70%;
    margin: 1.5em;
    text-align: center;
    text-justify: distribute;
}
.poster tagline{
    font-family: var(--primaryFont);
   
    font-size: calc(4vw - 0.1vmax);
    font-weight: 800;
    line-height: -10px; 
    text-align: center;
    color: var(--alert);
}

.poster button{
    width: 20em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid white;
    transition: border 0.25s cubic-bezier(.66,.39,.21,.67);
    text-decoration: none;

    background-color: var(--alert);
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 15pt;
    font-weight: bold;

    cursor: pointer;
}

.poster button:hover{
    border: 1px solid var(--primaryColor);
}
.poster button:active{
    background-color:  var(--primaryFade);
    
}